<?xml version="1.0"?>
<config>
    <modules>
        <Demac_MultiLocationInventory>
            <version>3.0.0</version>
        </Demac_MultiLocationInventory>
    </modules>
    <global>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <multilocationinventory_submit_all_after>
                        <class>Demac_MultiLocationInventory_Model_Observer</class>
                        <method>checkoutAllSubmitAfter</method>
                    </multilocationinventory_submit_all_after>
                </observers>
            </checkout_submit_all_after>
        </events>
        <index>
            <indexer>
                <demac_multilocationinventory>
                    <model>Demac_MultiLocationInventory_Model_Indexer</model>
                </demac_multilocationinventory>
            </indexer>
        </index>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_config_simple>Demac_MultiLocationInventory_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config_Simple</catalog_product_edit_tab_super_config_simple>
                </rewrite>
            </adminhtml>
            <demac_multilocationinventory>
                <class>Demac_MultiLocationInventory_Block</class>
            </demac_multilocationinventory>
        </blocks>
        <helpers>
            <demac_multilocationinventory>
                <class>Demac_MultiLocationInventory_Helper</class>
            </demac_multilocationinventory>
        </helpers>
        <models>
            <demac_multilocationinventory>
                <class>Demac_MultiLocationInventory_Model</class>
                <resourceModel>demac_multilocationinventory_resource</resourceModel>
            </demac_multilocationinventory>
            <demac_multilocationinventory_resource>
                <class>Demac_MultiLocationInventory_Model_Resource</class>
                <entities>
                    <location>
                        <table>demac_mli_location</table>
                    </location>
                    <website>
                        <table>demac_mli_website</table>
                    </website>
                    <stock>
                        <table>demac_mli_stock</table>
                    </stock>
                    <stock_indexer>
                        <table>demac_mli_stock_indexer</table>
                    </stock_indexer>
                    <order_stock_source>
                        <table>demac_mli_order_stock_source</table>
                    </order_stock_source>
                </entities>
            </demac_multilocationinventory_resource>
            <cataloginventory>
                <resourceModel>cataloginventory_resource</resourceModel>
                <rewrite>
                    <stock>Demac_MultiLocationInventory_Model_CatalogInventory_Stock</stock>
                    <observer>Demac_MultiLocationInventory_Model_CatalogInventory_Observer</observer>
                </rewrite>
            </cataloginventory>
            <cataloginventory_resource>
                <rewrite>
                    <stock>Demac_MultiLocationInventory_Model_CatalogInventory_Resource_Stock</stock>
                    <stock_item>Demac_MultiLocationInventory_Model_CatalogInventory_Resource_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory_resource>
        </models>
        <resources>
            <Demac_MultiLocationInventory>
                <setup>
                    <module>Demac_MultiLocationInventory</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </Demac_MultiLocationInventory>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <demac_multilocationinventory>
                    <files>
                        <default>Demac/MultiLocationInventory.csv</default>
                    </files>
                </demac_multilocationinventory>
            </modules>
        </translate>
        <layout>
            <updates>
                <demac_multilocationinventory>
                    <file>demac/multilocationinventory.xml</file>
                </demac_multilocationinventory>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <demac_multilocationinventory before="Mage_Adminhtml">Demac_MultiLocationInventory_Adminhtml</demac_multilocationinventory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <demac_multilocationinventory>
                    <files>
                        <default>Demac/MultiLocationInventory.csv</default>
                    </files>
                </demac_multilocationinventory>
            </modules>
        </translate>
        <layout>
            <updates>
                <demac_multilocationinventory>
                    <file>demac/multilocationinventory.xml</file>
                </demac_multilocationinventory>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <multi_location_inventory_product_save>
                        <class>Demac_MultiLocationInventory_Model_Admin_Observer</class>
                        <method>multiLocationInventoryProductSave</method>
                    </multi_location_inventory_product_save>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <default>
        <demac_multilocationinventory>
            <general>
                <apiurl>http://maps.googleapis.com/maps/api/js?v=3</apiurl>
                <apisensor>1</apisensor>
            </general>
        </demac_multilocationinventory>
    </default>
</config>
